<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cupertino</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://mapzen.com/js/mapzen.css">
    <script src="https://mapzen.com/js/mapzen.min.js"></script>
    <style>
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
      }
      #address {
        top: 1em;
        left: 1em;
        padding: .5em;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        z-index: 999;
      }
      html, body { margin: 0; padding: 0 }
  </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="address"></div>
    <script>

      function onLoaded(event)
      {
        event.tangramLayer.setSelectionEvents({ hover: onHover, click: onClick });
      }
      
      function onHover(selection)
      {
        var label = document.getElementById('address'),
            map = document.getElementById('map');

        if(selection.feature)
        {
            var props = selection.feature.properties,
                addr = [props.number, props.street, props.unit].join(' ');

            map.style.cursor = 'pointer';
            
            if(addr.trim())
            {
                label.innerText = addr;
                label.style.display = 'block';
                label.style.left = (selection.pixel.x - 20) + 'px';
                label.style.top = (selection.pixel.y - label.clientHeight - 10) + 'px';
                return;
            }
        }

        map.style.cursor = '';
        label.style.display = 'none';
      }
      
      function onClick(selection)
      {
      }
      
      var map = L.Mapzen.map('map', {
        center: [37.318373, -122.028352],
        zoom: 16,
        scene: "{{ url_for('get_scene')|escape }}"
      });

      // Move zoom control to the top right corner of the map
      map.zoomControl.setPosition('topright');

      // URL hash
      L.Mapzen.hash({map: map});
      
      // Set up interactivity
      map.on('tangramloaded', onLoaded);

    </script>
  </body>
</html>
